body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.2vw;
    line-height: 1.4;
    color: #232323;
    color: #ddd;
    padding: 3.5vw;

    background: url(header.png) no-repeat center center fixed;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    display: inline;
    float: left;
    width: 22vw;
    height: 22vw;
    margin: 0 4vw 0 0;
}

main {
    width: 100%;
    margin: 0 auto;
}

a {
    color: #00adef;
    color: #ddd;
    text-decoration: none;
    transition: 1s all ease;
}

a:hover {
    color: #111;
    color: #fff;
    text-decoration: underline;
}

.catalog {
    font-size: 2vw;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

.links .icon {
    margin: 2vw;
    width: 10vw;
}

.icon path {
    transition: 1s all ease;
}

.links .icon path {
    fill: #ddd;
}

.links a:hover .icon path {
    fill: #fff;
}

@media (min-width: 940px) {
    body {
        font-size: 1.25rem;
        padding: 20px;
    }

    .catalog {
        font-size: 1.25rem;
    }

    .logo {
        width: 15rem;
        height: 15rem;
        margin: 0.5rem 1rem 0.5rem 0;
    }

    main {
        width: 900px;
    }

    .links {
        padding: 0;
    }

    .links .icon {
        margin: 1.5rem;
        width: 3.5rem;
    }
}


